* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Fuentes*/


@font-face {
  font-family: BrixSans;
  src: url('../assets/fonts/BrixSansBlack.otf');
}

@font-face {
  font-family: BrixSansRegular;
  src: url('../assets/fonts/BrixSansRegular.otf');
}

/* Clase general */
body, html, section {
  height: 100%;
}

.display-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Title*/
h2.title {
  font-family: BrixSansRegular;
  margin-bottom: 2em;
  color: #333;
}

/* Container de areas */

div.area-container {
  /*outline: 1px solid red; */
  height: 250px;
  background-color: #e90049;
}



 /* imagenes de background */

div.mantenimiento {
  background-image: url("../assets/images/icon-1.png");
} 

div.seguridad {
  background-image: url("../assets/images/icon-2.png");
} 

div.experiencia {
  background-image: url("../assets/images/icon-3.png");
} 

/* Estilo del contenedor */
div.area-container {
  background-size: contain;
  background-position: center center;
}

/*Contenedor que aparece al hacer hover */
div.button-container {
  width: 100%;
  height: 250px;
  background-color: #e90049;
  visibility: hidden;
}

div.button-container p {
  margin-bottom: 1em;
  font-size: 2em;
  font-family: BrixSansRegular;
}

div.area-container:hover div.button-container {
  visibility: visible;
}

div.icon-container i {
  cursor: pointer;
  margin-right: 10px;
}