<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/area.css">
  <title>Areas</title>
</head>
<body >
  <section class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 col l12">
          <h2 class="title center-align">¿Qué tipo de tarea necesitas realizar?</h2>
        </div>
      </div>

      <div class="row"> 
        <div class="col s12 col l12 container-desktop-flex">
          <!--Mantenimiento -->
          <div class="area-container mantenimiento col s9 col l3" >
            <div class="button-container display-flex-column">
              <p class="white-text center-align">Mantenimiento</p>
                <div class="center-align icon-container">
                 <a  id="register-man"><i class="medium material-icons white-text" >add_circle</i></a> 
                  <a href="calendario.html" id="mantenimiento"> <i class="medium material-icons white-text">event</i></a>
                </div>
            </div>                 
          </div> 

          <!--Seguridad -->
          <div class="area-container seguridad col s9 l3">
            <div class="button-container display-flex-column">
              <p class="white-text center-align">Seguridad</p>
              <div class="center-align icon-container">
                <a  id="register-seg"><i class="medium material-icons white-text" >add_circle</i></a> 
                <a href="calendario.html" id="seguridad"><i class="medium material-icons white-text" >event</i></a> 
              </div>
            </div>                 
          </div>

          <!--Experiencia -->
          <div class="area-container experiencia col s9 l3">
            <div class="button-container display-flex-column">
              <p class="white-text center-align">Experiencia</p>
              <div class="center-align icon-container">
                <a  id="register-exp"><i class="medium material-icons white-text" >add_circle</i></a> 
                <a href="calendario.html" id="experiencia"><i class="medium material-icons white-text" >event</i></a> 
              </div>
            </div>                 
          </div>

        </div>
      </div>
    
    </div>
  </section>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  
  <script src="../js/area.js"></script>
</body>
</html>