<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/calendario.css">
  <!-- Iconos -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Calendario Mantenimiento</title>
</head>

<body>
  <header class="mb-3">
    <nav class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4">
          <span class="material-icons bt-menu ">menu</span>
          <img class="responsive-img-logo" src="../assets/images/logo_Mallplaza__horiz.png" alt="">
        </div>
        <div class="col-lg-8 menu pt-3">
          <ul>
            <li>
              <a href="../index.html">Cerrar sesión</a>
            </li>
            <li>
              <a href="states.html">Detalles</a>
            </li>
            <li>
              <a href="registro.html">Nueva Tarea</a>
            </li>
            <li>
              <a class="active" href="calendario.html">Calendario</a>
            </li>
            <li>
              <a href="area.html">Inicio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="container pb-4">
    <div class="row box-detail-title mb-3">
      <div class="col-6">
        <div class="float-left">
          <h1 id="title-calendar">Mantenimiento</h1>
        </div>
      </div>      
      <div class="col-6">
        <div class="float-right icon-mant">
          <span class="fas fa-wrench"></span>
        </div>
      </div>
      </div>
      <!-- Colores de leyendas -->
      <div class="row">
        <div class="col-12">
          <ul class="list-legend">
            <li>
              <span class="circle gray"></span>
              <span>Programada</span>
            </li>
            <li>
              <span class="circle orange"></span>
              <span>Cotizacion</span>
            </li>
            <li>
              <span class="circle yellow"></span>
              <span>OC en proceso</span>
            </li>
            <li>
              <span class="circle green"></span>
              <span>Pro en proceso</span>
            </li>
            <li>
              <span class="circle darkslategray"></span>
              <span>Revisión / HES</span>
            </li>
            <li>
              <span class="circle blue"></span>
              <span>Finalizado</span>
            </li>
            <li>
              <span class="circle red"></span>
              <span>Fuera de fecha</span>
            </li>
          </ul>
        </div>
      </div>
     
      <div id="alert"></div>

    <div id="calendar" class=""></div>
  </section>




  <!-- Modal Eventos -->
  <div class="modal fade" id="modal-events" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titleEvent"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title-edit">Título</label>
            <input type="text" class="form-control" id="title-edit">
          </div>
          <div class="form-group">
            <label for="date-edit">Fecha de Inicio</label>
            <input type="date" class="form-control" id="date-edit">
          </div>
          <div class="form-group">
            <label for="date-end-edit">Fecha de Fin</label>
            <input type="date" class="form-control" id="date-end-edit">
          </div>
          <div class="form-group">
            <label for="description-edit">Descripción</label>
            <input type="text" class="form-control" id="description-edit">
          </div>
          <div class="form-group">
            <label for="state-even-editt">Estado</label>
            <select class="form-control" id="state-event-edit">
              <option selected="true" disabled="disabled">Selecciona una Opción</option>
              <option value="2">Cotizacion</option>
              <option value="3">Orden de Compra</option>
              <option value="4">Proceso</option>
              <option value="5">Revisión/HES</option>
              <option value="6">Finalizado</option>
              <option value="1">Fuera de Fecha</option>
              <option value="7">Programado</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" id="update">Actualizar</button>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="message">¡Buen trabajo!</div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src='../vendors/fullcalendar/lib/moment.min.js'></script>
  
  <script src='../vendors/fullcalendar/fullcalendar.js'></script>
  <script src='../vendors/fullcalendar/locale/es.js'></script>
  <script src='../vendors/fullcalendar/gcal.js'></script>
  <script src="../js/calendario.js"></script>

</body>

</html>