<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/registro.css">
  <title>Registro de eventos</title>
</head>

<body>
  <div class="container text-center">
    <h1 class="title">Crear Evento</h1>
    <p>Título Evento</p>
    <input id="event" type="text" class="form-control">
    <p>Fecha de inicio</p>
    <input id="date" type="date" class="form-control">

    <p>Fecha de fin</p>
    <input id="enddate" type="date" class="form-control">

    <button id="addToCalendar">Crear</button>

    <button id="signout-button">Salir</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="../js/registro.js"></script>
  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
</body>

</html>