<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <link rel="stylesheet" href="../css/calendario.css">
  <link rel="stylesheet" href="../css/events.css">
  <title>Detalle Mantenimiento</title>

</head>

<body>
  <header class="mb-3">
    <nav class="">
      <div class="row">
        <div class="col s4">
          <img class="responsive-img-logo" src="../assets/images/logo_Mallplaza__horiz.png" alt="">
        </div>
        <div class="col s8 menu ">
          <ul>
            <li>
              <a href="area.html">Salir</a>
            </li>
            <li>
              <a href="registro.html">Nueva Tarea</a>
            </li>
            <li>
              <a href="calendario.html">Calendario</a>
            </li>
            <li>
              <a href="area.html">Inicio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="container">
    <div class="row box-detail ">

      <div class="style-title">

        <h4 class="left-align" id="title-area"></h4>
        <a class="waves-effect btn btn-excel right-align" onclick="exportTableToExcel('tblData', 'tareas-data')">Exportar a excel</a class="waves-effect waves-light btn">

      </div>

    </div>
    <div class="row box-mes">
      <div class="col s5">
        <div>
          <select id="month">
            <option selected hidden>Mes</option>
            <option value="13">Todas</option>
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>

          </select>
        </div>

      </div>
      <div class="col s5">
        <div class="">
          <select id="year">
            <option selected hidden>Año</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>

          </select>
        </div>

      </div>
      <div class="col s2">
        <button id="search" class="btn btn-detail">
          <span class="fas fa-search"></span>
        </button>
      </div>
    </div>


    <!-- Radio Button -->
    <div class="radio-btn">
      <ul class="box-filters">
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="2" />

            <span>Cotización</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="3" />
            <span>Orden de Compra</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="4" />
            <span>Proceso</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="5" />
            <span>Revision</span>
          </label>
        </li>
      </ul>
      <ul class="box-filters">
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="6" />
            <span>Finalizado</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="7" />
            <span>Programado</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="1" />
            <span>Fuera de Fecha</span>
          </label>
        </li>
        <li>
          <label>
            <input name="group1" type="checkbox" class="btn-radio filled-in" value="8" />
            <span>Todas</span>
          </label>
        </li>
      </ul>


    </div>
  </section>
  <div class="container">
    <div>
      <table id="tblData" class="box-events centered striped">
        <tr>
            <th>Numero</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
        </tr>
      </table>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <!-- SweetAlert -->
  <script src="https://unpkg.com/sweetalert2@7.21.1/dist/sweetalert2.all.js"></script>
  <script src="../js/events.js"></script>
</body>

</html>