<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link rel="stylesheet" href="css/registro.css">
</head>

<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 l4">
          <h1>Ingresa los datos del proyecto</h1>
        </div>
        <div class="col s12 l8">
          <form action="">
            <div class="input-field">
              <input id="last_name" type="text" class="validate" placeholder="Ingreso " >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>

</html>