@font-face {
  font-family: BrixSansBlack;
  src: url('../assets/fonts/BrixSansBlack.otf');
}

@font-face {
  font-family: BrixSansRegular;
  src: url('../assets/fonts/BrixSansRegular.otf');
}

* {
  font-family: BrixSansRegular, sans-serif;
}

h2 {
  font-size: 2em;
}

.header-logo {
  margin-top: 15px;
}

.btn-mall {
  background-color: #e90049;
}

.box-detail-title{
background-color: #e7e6e6;
}

.box-detail-title h1{
  font-weight: 800
}
.btn-detail{
  background-color: #e90049;
  color: white;
  position: relative;
  bottom: 7px;
  
}

.btn-detail:hover{
  color: white;
  background-color: #ca0544;
}

nav{
  background: rgba(233,0,74,1);
background: -moz-linear-gradient(left, rgba(233,0,74,1) 0%, rgba(244,127,164,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(233,0,74,1)), color-stop(100%, rgba(244,127,164,1)));
background: -webkit-linear-gradient(left, rgba(233,0,74,1) 0%, rgba(244,127,164,1) 100%);
background: -o-linear-gradient(left, rgba(233,0,74,1) 0%, rgba(244,127,164,1) 100%);
background: -ms-linear-gradient(left, rgba(233,0,74,1) 0%, rgba(244,127,164,1) 100%);
background: linear-gradient(to right, rgba(233,0,74,1) 0%, rgba(244,127,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9004a', endColorstr='#f47fa4', GradientType=1 );
height: 65px;
}

.menu ul li{
 
  list-style: none;
  padding: 0px 25px;
  color: white;
  float: right;
 
}

.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px
}

.menu ul li a:hover{
color: white
}

.responsive-img-logo{
  width: 230px;
  margin-top:3px
}

.icon-mant{
  color: #e90049;
  font-size: 30px;
  padding-top: 5px;
  padding-right: 5px;
}

@media (min-width: 601px) {
  h2 {
    font-size: 3em;
    text-align: left;
  }
}

/*
@media (min-width: 601px) {
  #calendar {
    min-height: 60vh;
  }
} */

