@font-face {
  font-family: BrixSans;
  src: url('../assets/fonts/BrixSansBlack.otf');
}
  
@font-face {
  font-family: BrixSansRegular;
  src: url('../assets/fonts/BrixSansRegular.otf');
}

:root{
  --mall:#e90049;
}

.box-month{
  background-color: var(--mall);
  color: white;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 24px
}

.select-wrapper input.select-dropdown:focus{
  border-bottom: 1px solid var(--mall);
}

.dropdown-content li>a, .dropdown-content li>span{
  color: var(--mall);
}

.radio-btn ul li {
  width: 100%;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
background-color: var(--mall)
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 2px solid var(--mall)
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
  padding-left:25px
}

.radio-btn{
  overflow: auto;
  padding-left: 2rem;
}

.number-detail{
  color: var(--mall);
  font-weight: 900;
  font-size: 20px
}

.title-state{
  font-weight: 900;
  padding-right: 20px
}

.end{
  padding-left: 65px
}

.box-state-detail{
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  border: 8px solid white;
  box-sizing: border-box;
}

/* states */
.style-title {
  background-color: #e7e6e6;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  width: 100%;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid var(--mall);
  background-color: var(--mall);
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  background-color: transparent;
  border: 2px solid var(--mall);
}

.btn-excel {
  background-color: var(--mall);
}

.btn-excel:hover {
  background-color: #333;
}

.box-mes {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.box-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 1rem;
}

td, th {
  text-align: center;
}

th {
  background-color: #e7e6e6;
  border-right: 2px solid white;
  border-bottom: 1rem solid white;
  color: #333;
}