@font-face {
  font-family: BrixSans;
  src: url('../assets/fonts/BrixSansBlack.otf');
}
  
@font-face {
  font-family: BrixSansRegular;
  src: url('../assets/fonts/BrixSansRegular.otf');
}

.box-month{
  background-color: #e90049;
  color: white;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 24px
}