/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Grid */
  
  .container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*='col-'] {
    float: left;
  }
  
  .col-xs-1 {
    width: 8.33333333%;
  }
  
  .col-xs-2 {
    width: 16.66666667%;
  }
  
  .col-xs-3 {
    width: 25%;
  }
  
  .col-xs-4 {
    width: 33.33333333%;
  }
  
  .col-xs-5 {
    width: 41.66666667%;
  }
  
  .col-xs-6 {
    width: 50%;
  }
  
  .col-xs-7 {
    width: 58.33333333%;
  }
  
  .col-xs-8 {
    width: 66.66666667%;
  }
  
  .col-xs-9 {
    width: 75%;
  }
  
  .col-xs-10 {
    width: 83.33333333%;
  }
  
  .col-xs-11 {
    width: 91.66666667%;
  }
  
  .col-xs-12 {
    width: 100%;
  }
  
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  
  @media (min-width: 768px) {
    .col-sm-1 {
      width: 8.33333333%;
    }
    
    .col-sm-2 {
      width: 16.66666667%;
    }
    
    .col-sm-3 {
      width: 25%;
    }
    
    .col-sm-4 {
      width: 33.33333333%;
    }
    
    .col-sm-5 {
      width: 41.66666667%;
    }
    
    .col-sm-6 {
      width: 50%;
    }
    
    .col-sm-7 {
      width: 58.33333333%;
    }
    
    .col-sm-8 {
      width: 66.66666667%;
    }
    
    .col-sm-9 {
      width: 75%;
    }
    
    .col-sm-10 {
      width: 83.33333333%;
    }
    
    .col-sm-11 {
      width: 91.66666667%;
    }
    
    .col-sm-12 {
      width: 100%;
    }
  
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    
    .col-sm-offset-12 {
      margin-left: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .col-md-1 {
      width: 8.33333333%;
    }
  
    .col-md-2 {
      width: 16.66666667%;
    }
  
    .col-md-3 {
      width: 25%;
    }
  
    .col-md-4 {
      width: 33.33333333%;
    }
  
    .col-md-5 {
      width: 41.66666667%;
    }
  
    .col-md-6 {
      width: 50%;
    }
  
    .col-md-7 {
      width: 58.33333333%;
    }
  
    .col-md-8 {
      width: 66.66666667%;
    }
  
    .col-md-9 {
      width: 75%;
    }
  
    .col-md-10 {
      width: 83.33333333%;
    }
  
    .col-md-11 {
      width: 91.66666667%;
    }
  
    .col-md-12 {
      width: 100%;
    }
  
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    
    .col-md-offset-3 {
      margin-left: 25%;
    }
    
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    
    .col-md-offset-6 {
      margin-left: 50%;
    }
    
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    
    .col-md-offset-9 {
      margin-left: 75%;
    }
    
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    
    .col-md-offset-12 {
      margin-left: 100%;
    }
  }